@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

:root {
	font-family: 'JetBrains Mono', monospace;
	font-size: 1.5rem;

	overflow-x: hidden;

	color: var(--color-text);
	background-color: var(--color-background);

	--color-text: #eee;
	--color-background: #000;
	--color-accent: #f74c00;
}

@media screen and (max-width: 768px) {
	:root {
		font-size: 1rem;
	}
}

@media screen and (max-width: 500px) {
	:root {
		font-size: 0.8rem;
	}
}

* {
	box-sizing: border-box;
}
